services:
  mongo:
    image: mongo:6.0
    container_name: mongo_db
    environment:
      MONGO_INITDB_ROOT_USERNAME: go_api_user
      MONGO_INITDB_ROOT_PASSWORD: Da08Cse#@!!@#
      MONGO_INITDB_DATABASE: tinyurls
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
volumes:
  mongo_data:

